@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom ComTech Direct-Message Button */

.btn-whatsapp {
    background-color: #25D366;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
    transition: background-color 0.2s ease;
}

.btn-whatsapp:hover {
    background-color: #128C7E;
}
